@model List<Event>

@{
	ViewBag.Title = "Events";
}

<h2>@ViewBag.Title</h2>

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Date</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Event e in Model) {
			<tr>
				<td>@e.EventId</td>
				<td>@e.EventDate.ToString("G")</td>
				<td>@e.Description</td>
			</tr>
		}
	</tbody>
</table>

@using (Html.BeginForm("NewMessage", "Event")) {
	<input type="text" name="Content" placeholder="Content" />
	<input type="submit" value="Add to Queue" />
}
